.menu {
  background: linear-gradient(0deg, rgb(237, 194, 64) 0%, rgba(244,187,10,1) 100%);
  width:100%;
  text-align:center;
  padding:6em 4em;

  h2 {
    color:#282346;
  }

  h3 {
    font-weight: 400;
    font-family: 'Modak', cursive;
    font-size:2.5em;
    line-height:1em;
    color:#282346;
  }

  p {
    color:var(--text-color);
    font-size:18px;
    line-height:1.6em;
  }
}

.menu img {
  width:40vw;
  max-width: 640px;
}

.description {
  max-width: 560px;
}

.burgerdetail {
  display:flex;
  flex-direction:column;
  max-width: 640px;
  align-items:center;
  justify-content:center;
  gap:1em;
}

.menugrid {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 3em auto;
  gap:5em;
}

@media screen and (max-width: 550px) {
  .menu h3 {
    font-size:1.75em !important;
    line-height:1em;
  }

  .menugrid {
    grid-template-columns: repeat(1, 1fr);
    align-items:center;
    justify-content:center;
    margin: 2em 0 0 0;
    gap:3em;
  }

  .burgerdetail {
    gap:1em;
  }

  .menu {
    padding: 4em 2em;
  }

  .menu img {
    width:300px!important;
  }
}
