.stack2-container {
  background: linear-gradient(0deg, rgba(244,187,10,1) 0%, rgb(233, 197, 90) 100%);
  height: 100vh;
  width:100%;
  position:relative;
  z-index:2;
  text-align:center;
}

#sesameseeds {
  z-index:61;
}

#topbun2 {
  z-index:60;
  top:1em !important;
}

#salad2 {
  z-index:59;
  top:2em !important;
}

#mayo {
  z-index:58;
  top:7.5em !important;
  left:1em !important;
}

#tomatoe2 {
  z-index:57;
  top:5em !important;
}

#ketchup {
  z-index:56;
  top:12em !important;
  right:1em !important;
}

#cheese {
  z-index:55;
  top:12em !important;
}

#bottombun2 {
  z-index:54;
  top:10em !important;
}

@media screen and (max-width: 550px) {

  #ketchup {
    top:8em !important;
  }

  #cheese {
    left:0em !important;
    top:9em !important;
  }

  #bottombun2 {
    top:7em !important;
  }

  #mayo {
    top:5.5em !important;
    left:0em !important;
  }

  #tomatoe2 {
    left:0em !important;
    top:3em !important;
  }
}


@media screen and (max-width: 400px) {
  #bottombun2 {
    left:-3.5em !important;
  }
}
