.stack2-container {
  background: #F4BB0A;
  height: 100vh;
  width:100%;
  position:relative;
  z-index:2;
  text-align:center;
}

#sesameseeds {
  z-index:61;
}

#topbun2 {
  z-index:60;
  top:1em !important;
}

#salad2 {
  z-index:59;
  top:2em !important;
}

#mayo {
  z-index:58;
  top:7.5em !important;
  left:1em !important;
}

#tomatoe2 {
  z-index:57;
  top:5em !important;
}

#ketchup {
  z-index:56;
  top:12em !important;
  right:1em !important;
}

#cheese {
  z-index:55;
  top:12em !important;
}

#bottombun2 {
  z-index:54;
  top:10em !important;
}
