.burgermap {
  height: 100vh;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:rgb(233, 197, 90);
  gap:1em;
}

.burgermap h3 {
  font-weight: 400;
  font-family: 'Modak', cursive;
  font-size:2.5em;
  line-height:1em;
  text-transform: unset;
  color:#282346;
}

.mapinfo {
  display:flex;
  flex-direction:column;
  width:100%;
  max-width:50vw;
  gap:2em;
}

.mapinfotext {
  display:flex;
  text-align:center;
  flex-direction:column;
  gap: 0.25em;
  color:var(--text-color);
  max-width: 520px;
  margin:auto;
  align-items:center;
}

.mapcontainer {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow:hidden;
  height: 85vh;
  width: 50vw;
}

.burgerhand {
  width:500px;
}

:root {
  --map-width: 50vw;
  --map-height: 85vh;
}

.map-marker {
  display:flex;
  flex-direction:column;
  text-align:center;
  align-items:center;
  position:relative;

  p {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size:0.9em;
    color:transparent;
  }
}

.marker-img {
  z-index:-2;
  position:relative;
}

.marker-text {
  text-align:left;
  margin:auto 6px;
  flex:1;
}

.iconbox {
  display:flex;
  color:orange;
  font-size:1.25em;
  align-items:center;
  gap:0.25em;
  //border-top:1px solid rgba(255, 166, 0, 0.5);
  padding-top:0.5em;
}

.marker-info {
  display:none;
  width:240px;
  position:absolute;
  top:42px;
  border-radius: 3px;
  border:1px solid var(--primary-color);
  background:white;
  align-items:center;

  img {
    height:80px;
    width:80px;
  }

  p {
    color: #1e1a357d;
  }

  p:first-of-type {
    color:#1E1A35;
    text-transform:uppercase;
    letter-spacing:0.5px;
  }
}

.map-marker:hover, .map-marker:focus, .map-marker:active {
  .marker-info {
    display:flex;
  }
}

@media screen and (max-width: 756px) {
  .burgermap {
    flex-direction:column;
    height: fit-content;
    gap:2em;
  }

  .burgerhand {
    width:343px;
  }

  .burgermap h3 {
    font-size:2em !important;
    line-height:1em;
  }

  .mapcontainer {
    border-radius:15px;
    width: 90vw;
    height: 75vh;
  }

  .mapinfo {
    max-width:100vw;
    margin-top:3em;
  }

  .mapinfotext {
    max-width:100vw;
    margin:auto 2em;
  }

  :root {
    --map-width: 90vw;
    --map-height: 75vh;
  }

  .marker-info {
    width:280px;}
}
