@import url('https://fonts.googleapis.com/css2?family=Modak&family=Montserrat:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top:-72px;
}

code {
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color:#FE9D12;
  --primary-color-light:#FEC471;
  --text-color: #1E1A35;
  --border: #282346;
}

ul {
  list-style-type:none;
}

p {
  line-height:1.6em;
}

h1 {
  font-size:8rem;
  line-height:7rem;
  font-weight: 400;
  font-family: 'Modak', cursive;
}

h2 {
  font-size:6rem;
  line-height:5.5rem;
  font-weight: 400;
  font-family: 'Modak', cursive;
}

h3 {
  font-size:1.5rem;
  line-height:1.5rem;
  font-weight:600;
  font-family: 'Montserrat', sans-serif;
  text-transform:uppercase;
}

h4 {
  font-size:1.25em !important;
  line-height:1.25rem;
  text-transform:uppercase;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.btn {
  padding: .5rem 1em;
  color: var(--text-color);
  background:transparent;
  border: 2px solid var(--border);
  border-radius: 24px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight:400;
  font-family: 'Modak', cursive;
}

.btn:hover {
  background: var(--text-color);
  color: var(--primary-color);
  box-shadow: -10px -10px 50px rgba(5, 3, 20, 0.15), 10px 10px 50px rgba(5, 3, 20, 0.15);
}

.btn-white {
  color:white;
  background:transparent;
  border: 2px solid white;
  z-index:2;
}

.btn-white:hover {
  background:white;
  color:var(--primary-color);
  border: 2px solid var(--primary-color);
}

.btn-dark {
  background-color: var(--text-color);
  color: var(--primary-color);
}

@media screen and (max-width: 756px) {
  h1 {
    font-size:5rem;
    line-height:4.5rem;
  }
  h2 {
    font-size:3.5rem;
    line-height:3rem;
  }
  h3 {
    font-size:1.25rem !important;
    line-height:1rem;
  }
}
