@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=MuseoModerno:wght@200;400;800&display=swap');

body {
  margin: 0;
  font-family: 'MuseoModerno', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top:-72px;
}

code {
  font-family: 'MuseoModerno', cursive;
}

* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color:#FE9D12;
  --primary-color-light:#FEC471;
  --text-color: #1E1A35;
  --border: #282346;
}

ul {
  list-style-type:none;
}

p {
  color:var(--text-color);
}

h1 {
  font-size:5rem;
  line-height:6rem;
  font-weight: 700;
  color:var(--text-color);
}

h2 {
  font-size:4rem;
  line-height:5rem;
  font-weight: 700;
}

h4 {
  font-size:2rem;
  font-family: 'Caveat', cursive;
}

h5 {
  font-size:1.5rem;
  font-weight: 700;
}

.btn {
  padding: .5rem 1em;
  color: var(--text-color);
  background:transparent;
  border: 2px solid var(--border);
  border-radius: 24px;
  font-size: 1.1rem;
  font-weight:700;
  font-family: 'MuseoModerno', cursive;
}

.btn:hover {
  background: var(--text-color);
  color: var(--primary-color);
  box-shadow: -10px -10px 50px rgba(5, 3, 20, 0.15), 10px 10px 50px rgba(5, 3, 20, 0.15);
}

.btn-dark {
  background-color: var(--text-color);
  color: var(--primary-color);
}

@media screen and (max-width: 756px) {
  h1 {
    font-size:3.5rem;
    line-height:4.5rem;
  }
  h2 {
    font-size:2.5rem;
    line-height:3.5rem;
  }
  h4 {
    font-size:1.5rem;
    line-height:2.5rem;
  }
  h5 {
    font-size:1.25rem;
    line-height:2.25rem;
  }
}
